/best_steering_model_xy.pth
/best_steering_model_xy_trt.pth
/dataset_xy
/data_collection.ipynb
/live_demo_build_trt.ipynb
/live_demo_trt.ipynb
/Manual Controlled Racing
/road_following_dataset_xy_2022-12-02_22-59-11.zip